
.text-center{
text-align: center;
}
.input-box{
    display: block;
    margin: 0 auto;
    font-size:30px ;
padding: 5px;
border-radius: 20px;
border: 1px solid rgb(211, 209, 209);
box-shadow: 0px 1px 2px 1px rgb(218, 214, 214);
}



